div>div:first-child{
    background-color: red;
}
div>div:nth-child(2){
    background-color: yellow;
    order: 1;
}
div>div:nth-child(3){
    color: aliceblue;
    background-color: blue;
}
#lecontenaire {
    display: flex;
    flex-wrap: wrap-reverse;
}

 div{
    height: 100px;
    
}