<a href="/pug-test.html">Link</a>
<a href="https://example.com/">Another link</a>
<h1>Veille technologie pug </h1>

.bloc
  a(href='')
    .image_bloc
      img(src='https://assets.afcdn.com/recipe/20171113/74835_w300h400c1cx2646cy1780.jpg', alt='')
  .wraper
    span.contenu_bloc_circle
    a.contenu_icon(href='')
      i.far.fa-heart.icon_heart
    a.bloc_contenu(href='')
      .contenu_bloc
        .bloc_text
          .bloc_titre
            h2
              | Velouté potimarron-marron simple et goûteux
  .type_bloc Recette du jour


<a href="//needemand.com">Needemand</a>
<a class="veillepug" href="//needemand.com">Needemand</a>
<a class="veillepug" href="//needemand.com">Needemand</a>